$choice-box-dimensions: theme('height.6');

.o-choice {
    $root: &;
    @apply u-flex;
    @apply u-items-center;
    @apply u-cursor-pointer;
    @apply u-rounded;
    @apply u-duration-default;
    min-width: 130px;
    &__label {
        text-align: left;
        flex-grow: 1;
    }
    &__box {
        @apply u-rounded;
        @apply u-inline-block;
        @apply u-border;
        @apply u-border-gray-500;
        @apply u-mr-4;
        @apply u-align-middle;
        @apply u-relative;
        @apply u-bg-white;
        @apply u-flex-shrink-0;
        @apply u-duration-default;
        height: $choice-box-dimensions;
        width: $choice-box-dimensions;
    }
    &__icon {
        opacity: 0;
    }
    &.is-active {
        @include choice-active;
        #{$root}__box {
            @apply u-bg-brand-secondary;
            @apply u-border-brand-secondary;
            @apply u-shadow-lg;
        }
        #{$root}__icon {
            opacity: 1;
        }
    }
    &--radio {
        #{$root}__box {
            border-radius: 50%;
            &:after {
                content: '';
                border-radius: inherit;
                @apply u-absolute;
                @apply u-top-1;
                @apply u-left-1;
                @apply u-right-1;
                @apply u-bottom-1;
                @apply u-bg-brand-secondary;
                @apply u-duration-default;
                @apply u-opacity-0;
                transform: scale(0.6);
            }
        }
        &.is-active {
            #{$root}__box {
                background-color: transparent;
                &:after {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
    }
    &--outline {
        @apply u-bg-white;
        @apply u-py-3;
        @apply u-px-4;
        @apply u-border;
        @apply u-border-solid;
        @apply u-border-gray-500;
    }
    &:hover {
        &:not(.is-active) {
            @include choice-active;
            #{$root}__box {
                @apply u-border-brand-secondary;
            }
        }
    }
}
